

/*==============****** LEFT ROW START **** =================*/

/*UNIVERSAL STYLES*/


.topcontainerLeftRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}


.textItemLeftRow {
   text-align: center;   
}


.textContainerLeftRow {
   flex-basis: 35%;
}


.imageContainterLeftRow {
    flex-basis: 60%;
}

.imageflexLeftRow {
   max-width: 100%;
}

/*MEDIA QUERIES*/

@media (max-width: 1000px) {
    
    
    .topcontainerLeftRow {
        flex-direction: column-reverse;
    }
    
    .textItemLeftRow {
       padding-top: 20px;
        padding-bottom: 10px
    }
    
    .imageflexLeftRow {
    max-width: 100%;     
        
}
    
    .imageContainterLeftRow {
        text-align: center;
    }
    
}



@media (max-width: 500px) {
    
   

.imageContainterLeftRow {
    flex-basis: 100%;
    text-align: center;
}
    
    .imageflexLeftRow {
   max-width: 100%;
}
    
   
    
}




/*FONT STYLES*/ 

.b-h-benefits {
     font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #3F5263;
}

.b-t-description {
      font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #676767;
    line-height: 1.5;
    font-size: 20px;
    
}

.b-h-thin {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #3F5263;
}


/*==============****** LEFT ROW END**** =================*/