table {
  border-collapse: collapse;
  border-spacing: 0;
  thead, 
  th, 
  td, 
  tfoot {
    border: 1px solid #ccc;
    padding: 10px;
  }
  thead {
    background-color: #555;
  }
  td {
    &:first-child {
      color: #39f;
    }
    &.not-first-child {
      color: #eee;
    }
  }
}

table {
    line-height: 1.5;
}


@media (max-width: 485px) {
    
    table {
        font-size: 12px;
        color: red;
    }
    
   
}


.pu-data, .p-data, .b-rowheader {
   transition: all 0.3s linear;
}


tr:hover .pu-data {
  
  background: #3299BB;
  color: #fff;
  
}

tr:hover .p-data {
  background: #3F5263;
  color: #fff;
 
}

tr:hover .b-rowheader {
color: #000;
font-weight: 700 !important;
text-decoration: underline;
  
}

table:hover .publicheader {
  color: #3299BB;
}

table:hover .privateheader {
  color: #3F5263;
}
